* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: #285d56;
  max-height: 234px;
  display: flex;
  justify-content: space-between;
  padding: 20px 4vw 20px 4vw;
}

.logoFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 125px;
  width: 285px;
  font-size: smaller;
}

.logoFooter p {
  margin-right: 30px;
}

.logoFooter img {
  align-self: center;
  width: 285px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.footerLinks ul {
  list-style: none;
  text-align: center;
}

.footerLinks ul li a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

.footerLinks ul li:first-of-type {
  margin-bottom: 15px;
}

.socialNetworks {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.socialNetworks img {
  width: 20px;
  height: 20px;
}

.footerLinks a {
  opacity: 0.8;
}

.footerLinks a:hover {
  opacity: 1;
}

.newslatter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
}

.newslatter input {
  width: 190px;
  font-size: medium;
  padding-left: 2px;
}

.newslatter button {
  width: 90px;
}

@media screen and (max-width: 830px) {
  .logoFooter img {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  footer .newslatter input {
    margin-bottom: 20px;
  }
  .logoFooter p {
    margin-right: 10px;
  }

  .footerLinks ul li {
    margin-bottom: 15px;
  }
}
