* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:#285D56;
    border:none;
}

.logotipo {

    background-color: #285D56;
    width: 100vw;
    max-width: 100%;
    min-width: 100%;
    
}

 .logotipo, img {
    height: 10vh;
    width: auto;

    
}

input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color:#285D56;
}

body {
    
    background: linear-gradient(45deg, #285D56, #C8D25C);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
}

#main-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding:25px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2em;
}

#main-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.5em;
}

.info {
    text-align: center;
    justify-content: center;
    
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: 1em;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 40px;
}

input:focus {
    border-color: #C8D25C;
}

input[type="submit"] {
    background-color: #285D56;
    color: #fff;
    border:none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #285D56, #C8D25C);
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}

#client {
    margin-right: 5px;
}

#client, #client-label {
    display: inline-block;
    width: auto;
}

#productor {
    margin-right: 5px;
}

#productor, #productor-label {
    display: inline-block;
    width: auto;
}

.error-validation {
    color: #FF1a1a;
    position: absolute;
    top: 57px;
    font-size: 1em;
}

.template {
    display: none;
}

@media (max-width: 575px) {

    .logotipo, img {
        height: 50%;
        width: 50%;
        text-align: center;
    }
    
    #main-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
        padding-top:25px;
    }

}

@media only screen and (min-width:576px) and (max-width:768px) {

    .logotipo, img {
        height: 10vh;
        
        
    }

    #main-container {
        width: 576px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
        padding:25px;
    }
    
}

@media only screen and (min-width:769px) and (max-width:992px) {

    .logotipo, img {
        height: 10vh;
        
        
    }

    #main-container {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
        padding:25px;
    }
    
}

@media only screen and (min-width:993px) and (max-width:1200px) {

    .logotipo, img {
        height: 100%;
        
        
    }

    #main-container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
        padding:25px;
    }
    
}