* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
}

.container {
  background-color: #f8f6f4;
  padding: 10px;
  width: 80vw;
  padding: 40px;
  margin: 0 auto;
  margin-top: 50px;
}

#main-container {
  background: linear-gradient(45deg, #285d56, #c8d25c);
  background-repeat: no-repeat;
  padding: 10px;
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2em;
}

#main-container h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.25em;
}

#main-container p {
  text-align: justify;
  font-size: 1em;
}

@media screen and (max-width: 420px) {

  .inline {
    text-align: center!important;
    margin-top: 20px;
  }

  .inline-block {
    display: block;
  }

}