
body{

    padding:0;
    margin:0;
    box-sizing: border-box;
}

section.one{
width:100%;
background-color:#50C7C7;
}

section.two{
    width:100%;
  background-color: antiquewhite;
    }

section.three{
        width:100%;
        background-color:#50C7C7;
        }

div.um{

}

div.dois{

}

div.tres{

}