*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  background-color: #B4C6A6;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #285D56, #C8D25C);
}

header{
  display: flex;
  background-color: #C8D25C;
  height: 20px;
  width: 100%;
  top: 0px;
  padding-left: 3vw;
  padding-right: 3vw;
}

header a {
  text-decoration: none;
}

header a p{
  color: white;
  margin-right: 60px;
}

.social {
  position: absolute;
  right: 3vw;
}

.social img{
  align-items: center;
  width: 16px;
  padding-top: 1.5px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: #285D56;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  z-index: 10;
  padding-left: 3vw;
  padding-right: 2vw;
}

nav li {
  margin: 5px 7px 5px 0px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: justify;
  display: flex;
}

nav img{
  height: 40px;
}

.put {
  display: flex;
  background-color: #285D56;
  width: 40vw;
  justify-content: center;
}

nav input {
  height: 23px;
  background: whitesmoke;
  width: 250px;
  height: 35px;
}

nav button {
  background: whitesmoke;
  width: 60px;
}

#myLinks {
  display: flex;
  list-style: none;
  top: 10px;
}

.icon {
  display: none;
}

nav li a {
  display: flex;
  color: white;
  width: 85px;
  justify-content: center;
  text-decoration: none;
  height: 48px;
  padding-top: 15px;
}

nav li a:hover {
  color: black;
  background: #fff;
  transition: .7s;
  border-radius: 5px;
}

.carrinho img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 65px;
}

.carrossel {
  margin: 80px 0 ;
}

.carrossel img {
  display: table-row;
  margin: 0 auto;
  width: 90vw;
  border-radius: 30px;
}

.chamadoprodutor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.informativos {
  display: flex;
  margin: 10px;
  color: #FFFFFF;
  width: 100%;
}

.informativos img {
  height: 60vh;
  margin-left: 4vw;
}

.info-text {
  width: 45vw;
  right: 2vw;
  margin-bottom: 10px;
  margin-left: 50vw;
  text-align: justify;
}

.informativos h2{
  margin-top: -3.5vh;
  font-size: 25px;
  text-align: center;
}

.informativos p{
  font-size: 18px;
  right: 3vw;
}

.receita img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.receita {
  color: #FFFFFF;
  margin: 10px;
}

.receita h2{
  font-size: 25px;
  text-align: center;
}

.receita p{
  font-size: 18px;
  text-align: center;
  margin: 25px 75px 75px 100px;
}

#frutas{
  float:left
}

#receitas{
  float:left
}
/*-------------New Footer Section-------------- */
/*-------------New Footer Section-------------- */

footer {
  display: flex;
  margin: 0px;
  width: 100%;
  justify-content: center;
 }



.container-F{

  
  width:100%;
  height: 180px;
  margin: 0px ;
  background-color: #285d56;
 }


 .container-F ul{
  
   color: black;
   list-style: none;
 } 
div.li-a ul li h2,div.li-b ul li h2 {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight:bold;
  letter-spacing: 1.3;
  color: #B4C6A6;
  margin-bottom: 15px
}

div.li-a ul li h3,div.li-b ul li h3 {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight:bold;
  letter-spacing: 0px;
  color: #98ad8c;
  margin-bottom: 10px
}
 .container-F div.li-a {
  
padding: 5px;
  float: left;
margin-top: 10px;
  margin-left: 30px;  
 width: 30%;
  
  line-height: 1.3;
  font-family:'Roboto', sans-serif;
  letter-spacing: 5px;
  } 

  .container-F div.li-b {
   
    padding: 5px;
    float: left;
     width: 30%;
    margin-top: 10px;
    margin-left: 0px;   
    line-height: 1.3;
    font-family:'Roboto', sans-serif;
    letter-spacing: 6px;
    } 

    .container-F div.li-c {
      
      padding: 5px;
      float: left;
      margin-top: 10px;   
       
       width: 30%;
       margin-left:0px;
       
      
     
      } 
      div.li-c ul li img{
        float: left;
        margin-top: 5px;
        margin-right: 20px;
        width: 50px;
        height: 50px;
        
      }
      div.li-a ul li a,div.li-b ul li a{
        text-decoration: none;
        color: #b5c69b;
      }
      div.li-c ul li.input{
        position: absolute;
        margin-top: 130px;
      }

      div.li-c ul li.logo img{
       position: absolute;
        margin-top: -34px;
        margin-right: 0px;
        margin-left: 65px;
        margin-bottom: 30px;
        width: 200PX;
        height: 200px;

      }
      div.li-c ul li.inscreva-se h2{
       position: absolute;
       margin-top: 70px;
      }

      div.li-c ul li h2 {color: #B4C6A6;}

    

      div.li-c ul li input{
        position: absolute;
        color: #B4C6A6; 
        width: 170px;
        height: 28px;
        margin-top: -25px;
        margin-bottom: 40px;
        font-size: 18px;
           }
         
  
          div.clear{
            clear: both;
          }
  
      /*--footer2-- */
        /*--footer2-- */

    footer.footer2{
    
    width: 100%;
    height: 26px;
    margin: 0px;
    margin-top:0px;
   /* background-color:#285D56;*/
   background-color:#467a73;

    
  }
  footer.footer2 ul li {
   
  display: inline-block;
    list-style: none;
    color: #FFFFFF;
   
      }

      footer.footer2 h3{
        
        font-family: monospace;
        font-size: 16px;
        margin-top: -20px;
        margin-left:25px;
        margin-bottom: 30px;
        margin-right: 5px;
          }
          footer.footer2 ul li h3 a{
            font-size: 20px;
          }
      
    footer.footer2 h4{

      font-family: monospace;
      font-size: 16px;
      margin-top: 5px;
      margin-left:5px;
      margin-bottom:36px;
        }

        footer.footer2 img{
          
          width: 25px;
          height:30px;
          margin-top: 28px;
          margin-left:0px;
          margin-bottom:20px;
          margin-right: 50px;
         
        }
        
        /*TERMOS E CONDIÇÕES INICIO*/
       
        .primeiro{
          background-image:url(../img/fundoBranco.png);
        }
         h1{
          font-family:Roboto,sans-serif;
          text-align: center;
          padding: 50px;
          
        }

        h3{
          color:black;
          margin-top: 4px;
          line-height: 36px;;
          text-align: center;
        }


       p{
          font-family: roboto;
          font-size: 20px;
          margin-top:26px;
          line-height: 28px;
          margin-bottom:40px;
          margin-left: 20px;
        }
        /*TERMOS E CONDIÇÕES FIM*/

        /*POLÍTICAS DE PRIVACIDADE INÍCIO*/

        .primeiro{
          background-image:url(../img/fundoBranco.png);
        }

          h1{
          font-family:Roboto,sans-serif;
          text-align: center;
          padding: 40px;
          
        }

        h3{
          color:black;
          margin-top: 0px;
          line-height: 36px;;
          text-align: center;
        }


        p{
          font-family: roboto;
          font-size: 20px;
          margin-top:26px;
          line-height: 28px;
          margin-bottom:40px;
          margin-left: 20px;
        }
        /*POLÍTICAS DE PRIVACIDADE FIM*/


/*COMO-COMPRAR-INÍCIO*/

section.como-comprar{
position: relative;
width: 100%;
height: 480px;
background: url(../img/fundo-como-comprar.png);
background-size:cover;

background-repeat: no-repeat;
}
.container{
  position: relative;
  z-index: 2;
}
div.overlay{
  z-index: 1;
  position: absolute;
  width: 100%;
  height:100%;
  background: rgba(250, 248, 248, 0.3);
  left:0;
  top:0;
}
 div.container h2{

  font-family:  'Roboto', sans-serif;
  font-size: 38px;
  text-align:center;
  margin-top: 20px;
  margin-bottom:5px;
  letter-spacing: 5px;
  color:rgb(47, 77, 68);
  
 }
div.container p{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  text-align:left;
  text-indent: 25px;
  margin-top: 0px;
  margin-bottom:0px;
  line-height:46px;
  padding: 10px;
  color: rgb(47, 77, 68);
      
}
 div.container p.simples{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  text-align:center;
  text-indent: 25px;
  margin-top: 20px;
  margin-bottom:0px;
  line-height:40px;
  padding: 10px;
  color: rgb(47,77,68);
}



/*COMO-COMPRAR-FIM*/

/*SEJA-UM-FORNECEDOR-INICIO*/

section.fornecedor{
  position: relative;
  width: 100%;
  height: 480px;
  background: url(../img/cenoura.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  }
  .container-f{
    position: relative;
    z-index: 2;
  }
  div.overlay-f{
    z-index: 1;
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(250, 248, 248, 0.4);
    left:0;
    top:0;
  }
   div.container-f h2{
  
    font-family:  'Roboto', sans-serif;
    font-size: 38px;
    text-align:center;
    margin-top: 20px;
    margin-bottom:5px;
    letter-spacing: 5px;
    color:rgb(47, 77, 68);
    
   }
  div.container-f p{
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    text-align:left;
    text-indent: 25px;
    margin-top: 0px;
    margin-bottom:0px;
    line-height:46px;
    padding: 10px;
    color: rgb(47, 77, 68);
        
  }
   div.container-f p.simples{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    text-align:center;
    text-indent: 25px;
    margin-top: 20px;
    margin-bottom:0px;
    line-height:40px;
    padding: 10px;
    color: rgb(47,77,68);
  }
  
.container-f p a{
  text-decoration: none;
  color: #333;
}
/*SEJA-UM-FORNECEDOR-FIM*/

/*CONHEÇA OS PRODUTORES INÍCIO*/

section.conheca-produtores{
  width: 100%;
  height: 600px;
  background:url(../img/agricultor-2.jpg);
  background-size: cover;
}
 div.container-p p.carla{

 font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    text-align:inherit;
   
    margin-top: 20px;
    margin-bottom:0px;
    line-height:40px;
    padding: 10px;
    color: rgb(47,77,68);
   
    width: 50%;
    box-shadow: 7px 5px 5px #0d2421;
 }

 div.container-p p.simples {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align:inherit;
 
  margin-top: 20px;
  margin-bottom:0px;
  line-height:40px;
  padding: 10px;
  color: #B4C6A6;
 box-shadow: 7px 5px 5px #0d2421;
  width: 50%;
 
    
  }
 p.simples a{
   text-decoration: none;
   color: #0d2421;
 }

 /*-----------*/
 section.conheca-produtores-2{
  width: 100%;
  height: 600px;
  background:url(../img/agricultor-3.png);
  background-size: cover;
}
 div.container-p2 p.wagner{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 26px;
     text-align:inherit;
     margin-top: 20px;
     margin-bottom:0px;
     line-height:40px;
     padding: 10px;
     color: rgb(47,77,68);
     width: 50%;
     box-shadow: 7px 5px 5px #0d2421;
  }
 
  div.container-p2 p.simples2 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 26px;
   font-weight: 600;
   text-align:inherit;
   margin-top: 20px;
   margin-bottom:0px;
   line-height:40px;
   padding: 10px;
   color: #B4C6A6;
   box-shadow: 7px 5px 5px #0d2421;
   width: 50%;
  
     
   }
  p.simples2 a{
    text-decoration: none;
    color: #0d2421;
  }
 
  /*CONHEÇA OS PRODUTORES FIM*/


  /*TRABALHE CONOSCO INÍCIO*/

section.imagem{
  width: 100%;
  height:1000px;
  background:url(../img/trabalhe-conosco.png);
  background-repeat: no-repeat;
  background-size: cover;
}
section.imagem ul li img{
  width: 750px;
  height:90px;
  margin-top: 470px;
  margin-left: 300px;
  opacity: 0.05;


}



  /*TRABALHE CONOSCO FIM*/

  /*CENTRAL DE AJUDA INICIO*/


  section div.one{

width: 100%;
height: 800px;
background-image:url(../img/central-de-ajuda.png);

  }
  .container-form{
    max-width: 960px;
    padding: 0 2px;
    margin: 0 auto;
  }
  section div.two{
    width: 100%;
    height:700px;
    background-color:#98ad8c;
  }
  section.formulario{
    background:#a5da87;
    padding:90px 0;
  }
  .form-group input[type=text]{
    width: 100%;
    height:40px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .form-group textarea{
    width: 100%;
    height:120px;
    border:1px solid #ccc;
    padding-left: 10px;
    resize: vertical;
  }
  .form-group input[type=submit]{
    width: 100px;
    height:40px;
    cursor: pointer;
    background:#e7426b;
    border:0;
    color: white;
    margin-top: 10px;;
  }
  

  /*CENTRAL DE AJUDA FIM*/

/*--RESPONSIVIDADE*/

@media screen and (max-width: 992px) {
  .menu {
    overflow: hidden;
    background-color: #333;
    margin-top: 34vh;
    opacity: 0.9;
    width: 50vw;
}

#myLinks{
  display: none;
}

.menu a {
  color:white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.menu a.icon {
  background: #285D56;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.menu a:hover {
  background-color: #fff;
  color: black;
  transition: .4s;
}
}

@media screen and (max-width: 810px) {
  .links {
      flex-direction: column;
}
}

@media screen and (max-width: 815px) {
  footer {
    align-items: center;
    flex-direction: column;
}

  footer .newsletter {
    position: relative;
    align-self: center;
    padding-left: 20vw;
}
  footer .institucional, .serviços, .oportunidades {
    align-self: center
  }
  footer .serviços {
    padding-right: 40px;
  }
}

@media screen and (max-width: 1290px) {
  .carrinho img{
    top: 55px;
    right: 5vw
  }

  .social {
    right: 4vw;
  }
}


/*.menu {
/*  border-radius: 10px;
/*  background: transparent;
/*  border: 1px solid #66ffa6;
/*  height: 50px;
/*  width: 50px;
/*  padding: 10px;
/*}
/*
/*.menu a li {
/*  display: block;
/*  position: relative;
/*  border-radius: 5px;
/*  background-color: #66ffa6;
/*  height: 4px;
/*  width: 100%;
/*  margin-bottom: 7px;
/*}

