@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #285d56, #c8d25c);
}
header {
  display: flex;
  background-color: #c8d25c;
  height: 20px;
  width: 100%;
}

header a {
  list-style: none;
  text-decoration-line: none;
  color: white;
}

header #atalhos:first-child {
  padding-left: 4vw;
}

header #atalhos a {
  padding-right: 40px;
}

.social {
  position: absolute;
  right: 53px;
}

.social img {
  align-items: center;
  width: 16px;
  padding-top: 1.5px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: #285d56;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  z-index: 10;
  padding-left: 4vw;
}

nav li:first-child {
  margin-left: -5px;
}

nav li {
  font-size: 15px;
  color: #ffffff;
  text-align: justify;
  display: flex;
  margin: 0 5px 0 5px;
}

nav img {
  height: 40px;
}

.put {
  display: flex;
  background-color: #285d56;
  justify-content: center;
}

nav input {
  background: whitesmoke;
  width: 25vw;
  height: 30px;
  border: 1px solid #e6ecf0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 12px;
  padding-left: 13px;
  padding-right: 25px;
}

nav button {
  background: whitesmoke url("../../../../img/search.svg") no-repeat 40% center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 30px;
  font-size: 16px;
  color: #333;
  border: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

nav button:active {
  transition: 3ms;
  box-shadow: rgb(255, 255, 255) 0px 0px 1px 1px;
  border-color: white;
}

#linksMenu {
  display: flex;
  list-style: none;
  margin-left: 20px;
  width: 50vw;
  justify-content: space-around;
}

.icon {
  display: none;
}

nav li a {
  display: flex;
  color: white;
  width: 85px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  height: 48px;
  padding-top: 15px;
}

nav li a:hover {
  color: black;
  background: #fff;
  transition: 0.7s;
  border-radius: 5px;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.carrinho img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 65px;
}

.carrinho img:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* PARTE COLADA */

/*CONHEÇA OS PRODUTORES INÍCIO*/

section.conheca-produtores {
  width: 100%;
  height: 600px;
  background: url(../img/agricultor-2.jpg);
  background-size: cover;
}

div.container-p {
  width: 50%;
  height: 400px;
  background-color: #b4c6a6;
}

div.container-p p.carla {
  font-family: Poppins;
  font-size: 26px;
  text-align: inherit;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 40px;
  padding: 10px;
  color: rgb(47, 77, 68);
  width: 100%;
  box-shadow: 7px 5px 5px #0d2421;
}

div.container-p p.simples {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  text-align: inherit;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 40px;
  padding: 10px;
  color: #b4c6a6;
  box-shadow: 7px 5px 5px #0d2421;
  width: 100%;
}
p.simples a {
  text-decoration: none;
  color: #0d2421;
}

/*-----------*/
section.conheca-produtores-2 {
  width: 100%;
  height: 600px;
  background: url(../img/agricultor-3.png);
  background-size: cover;
}
div.container-p2 p.wagner {
  font-family: Poppins;
  font-size: 26px;
  text-align: inherit;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 40px;
  padding: 10px;
  color: rgb(47, 77, 68);
  width: 1 00%;
  box-shadow: 7px 5px 5px #0d2421;
}

div.container-p2 p.simples2 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  text-align: inherit;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 40px;
  padding: 10px;
  color: #b4c6a6;
  box-shadow: 7px 5px 5px #0d2421;
  width: 100%;
}
p.simples2 a {
  text-decoration: none;
  color: #0d2421;
}

div.container-p2 {
  width: 50%;
  height: 400px;
  background-color: #b4c6a6;
}

/*CONHEÇA OS PRODUTORES FIM*/

/* PARTE COLADA */