* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 255, 0.733);
}

header {
    display: flex;
    height: 40px;
    width: 520px;
    background-color: #C8D25C;
    justify-content: space-around;
}

header a p{
  color: #FFFFFF;
  font-family: Lato;
  line-height: 40px;
  width: 145px;
  text-align: center;
}

.social img{
  display: inline-block;
  width: 19px;
  height: 20px;
  margin: 7px 4px 0px 4px;
}

menu {
  background-color: #285D56;
  width: 1441px;
  height: 48px;
  display: flex;
}

menu a p{
  margin: 7px 7px 0px 0px;
  font-size: 13px;
  color: #FFFFFF;
  text-align: justify;
  display: flex;
}

menu img{
  height: 100%;
}
menu input{
  margin: 11px 0px 0px 0px;
  height: 22px;
}

.carrossel img{
    width: 520px;
}

footer {
  height: 100px;
  display: flex;
  align-content: center;
}

footer img{
  height: 100%;
}