<div class="footer-basic">
  <footer>
    <section class="newslatter">
      <form action="" method="post" class="barra">
        <h1 id="texto">Receba nossas promoções</h1>
        <div>
          <input type="e-mail" id="emailNewslatter" placeholder="Digite seu e-mail" />
        </div>
        <button target="emailNewslatter" type="submit">Inscreva-se</button>
      </form>
    </section>
    <div class="social">
      <a href="#"><i class="icon ion-social-instagram"></i><img src="/img/instagram.png" alt="instagram" /></a>
      <a href="#"><i class="icon ion-social-twitter"></i><img src="/img/Facebook.png" alt="Facebook" /></a>
      <a href="#"><i class="icon ion-social-facebook"></i><img src="/img/twitter.png" alt="twitter" /></a>
    </div>
    <p class="copyright">Copyright © 2022 DH LTDA</p>
    <div class="termos">
      <div class="sobre-nos"> <a href="/sobre-nos">Sobre Nós</a> </div>
      <div class="politica"> <a href="/politicas-de-privacidade">Políticas de Privacidade</a> </div>
    </div>
  </footer>
</div>