<header id="header">
  <div class="logo">
    <a href="/"><img src="./img/logoHortiproPNG2.png" /></a>
    <nav id="nav">
      <button id="btn-mobile">
        <span id="hamburger"></span>
      </button>
      <ul id="menu">
        <li><a href="/perfil-usuario">Perfil</a></li>
        <li><a href="/lista-de-produtos">Produtos</a></li>
        <li><a href="/cadastro-produtos">Cadastre Produtos</a></li>
      </ul>
    </nav>
  </div>
</header>