* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  border: 0px;
}
label {
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

input:focus,
label:focus {
  outline: none;
}

input {
  width: 100%;
}

.full-box {
  width: 100%;
}

a {
  color: #285d56;
}

body {
  background: linear-gradient(45deg, #285d56, #c8d25c);
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
}

#main-container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2em;
  color: #285d56;
}

#main-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.5em;
}

#main-container info {
  text-align: center;
  justify-content: center;
}

#main-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 2.5%;
}

/* label {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
} */

.full-box input {
  border-bottom: 1px solid #323232;
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 40px;
}

input:focus {
  border-color: #c8d25c;
}

.full-box input[type="submit"] {
  background-color: #285d56;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.full-box input[type="submit"]:hover {
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #285d56, #c8d25c);
}

#agreement {
  margin-right: 5px;
}

#agreement,
#agreement-label {
  display: inline-block;
  width: auto;
}

@media (min-width: 481px) and (max-width: 767px) {
  #main-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (min-width: 1281px) {
  .container-p {
    margin: 20px;
    margin-top: 80px;
  }

  div.container-p {
    font-size: 26px;
  }

  .container-p2 {
    margin-left: 20px;
  }

  div.container-p2 {
    font-size: 26px;
  }
}
