* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  background-color: #285d56;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  z-index: 10;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
}

nav img {
  height: 40px;
}

.put {
  display: flex;
  background-color: #285d56;
}

nav input {
  background: whitesmoke;
  width: 45vw;
  height: 30px;
  border: 1px solid #e6ecf0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 12px;
  padding-right: 25px;
  padding-left: 10px;
  margin-left: 15vw;
}

nav button {
  background: whitesmoke url("../img/search.svg") no-repeat 40% center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 30px;
  font-size: 16px;
  color: #333;
  border: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

nav button:active {
  transition: 3ms;
  box-shadow: rgb(255, 255, 255) 0px 0px 1px 1px;
  border-color: white;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30vw;
}

.menu a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.menu a:first-of-type {
  margin-left: 6vw;
}

.menu a:hover {
  opacity: 1;
  transition: 0.3s;
}

.menu a img {
  opacity: 0.8;
  width: 29px;
  margin-left: 2vw;
}

.menu a img:hover {
  -moz-opacity: 1;
  opacity: 1;
  transition: 0.3s;
}

.carrinho img {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  margin-left: 2vw;
}

.carrinho img:hover {
  -moz-opacity: 1;
  transition: 0.3s;
  opacity: 1;
}

@media screen and (max-width: 1010px) {
  .menu a:first-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 875px) {
  .menu a:first-of-type {
    display: none;
  }
  nav input {
    margin-left: 10vw;
  }
}

@media screen and (max-width: 480px) {
  nav input {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 420px) {
  nav input {
    margin-left: 0;
  }
}