.titulo h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
}

.main {
  background-color: #cbcb94;
  border-radius: 40px;
  padding: 30px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 50px;
}

#fotoPerfil img {
  width: 200px;
  border-radius: 100%;
  border: 6px solid #353d01;
}

#fotoPerfil {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#nome h1 {
  font-weight: 600;
  font-family: "Segoe UI";
  color: #353d01;
  text-align: center;
}

.main a {
  font-weight: 600;
  font-family: "Segoe UI";
  color: #353d01;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  margin-left: 10px;
  position: relative;
  text-align: center;
}

input {
  background-color: #fff;
  position: relative;
  text-align: center;
  line-height: 120%;
  width: 30%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  font-weight: 600;
  font-family: "Segoe UI";
  color: #353d01;
  margin-top: 0;
  margin-bottom: 20px;
  border: none;
  display: flex;
  justify-content: center;
}

button {
  display: block;
  min-height: 40px;
  width: 220px;
  border-radius: 30px;
  border: 0px;
  background-color: #353d01;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 25px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #ffffff;
  text-align: center;
  margin-left: 5px;
  justify-content: center;
  margin: auto;
  margin-bottom: 120px;
  cursor: pointer;
}
