* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.body_lista_produtos {
  color: white;
  background-color: #bcbc2a;
  color: black;
  padding-top: 30px;
  margin-top: 48px;
  align-items: center;
  text-align: center;
}

.subtitle {
  margin: 0px 0px 10px 0px;
}

.lista_produtos {
  background-color: #858943;
  width: 95vw;
  padding-top: 25px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 45px;
  margin: 0 auto;
  text-align: start;
}

#lista_produtos-categoria-text {
  align-self: center;
  justify-self: center;
  display: block;
}

#horta-produtos,
#mercearia-produtos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  margin-top: 20px;
  padding-bottom: 40px;
}

#horta-produtos::-webkit-scrollbar,
#mercearia-produtos::-webkit-scrollbar {
  display: none;
}

.lista_produtos-categoria::-webkit-scrollbar {
  display: none;
}

.lista_produtos-produto {
  display: flex;
  flex-direction: column;
  background-color: #63710f;
  border-radius: 45px;
  width: 350px;
  padding-top: 35px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 20px;
  line-height: 1.5;
  margin-right: 50px;
}

.lista_produtos-produto:last-child {
  margin-right: 0;
}

.lista_produtos-produto-info {
  display: flex;
  justify-content: space-between;
}

.lista_produtos-produto-like {
}

.lista_produtos-produto-button {
  align-self: center;
  width: 200px;
  height: 30px;
  border-radius: 15px;
  background-color: #353d01;
  color: white;
  margin-top: 15px;
}

.lista_produtos-produto-button:hover {
  opacity: 0.9;
}

.lista_produtos-imagem {
  width: 300px;
  height: 300px;
  border-radius: 45px;
  margin-bottom: 15px;
}

.scroll_left--horta {
  color: black;
  background-color: #63710f;
  position: absolute;
  top: 400px;
  left: 45px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.scroll_left--horta:hover {
  opacity: 0.8;
}

.scroll_right--horta:hover {
  opacity: 0.8;
}

.scroll_right--horta {
  color: black;
  background-color: #63710f;
  position: absolute;
  top: 400px;
  right: 45px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.arrow__icon_horta-left {
  width: 80%;
  margin-right: 5px;
  margin-top: 5px;
  transform: rotate(270deg);
}

.arrow__icon_horta-right {
  width: 80%;
  margin-left: 5px;
  margin-top: 5px;
  transform: rotate(90deg);
}

.scroll_left--mercearia {
  color: black;
  background-color: #63710f;
  position: absolute;
  top: 1000px;
  left: 45px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.scroll_left--mercearia:hover {
  opacity: 0.8;
}

.scroll_right--mercearia:hover {
  opacity: 0.8;
}

.scroll_right--mercearia {
  color: black;
  background-color: #63710f;
  position: absolute;
  top: 1000px;
  right: 45px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.arrow__icon_mercearia-left {
  width: 80%;
  margin-right: 5px;
  margin-top: 5px;
  transform: rotate(270deg);
}

.arrow__icon_mercearia-right {
  width: 80%;
  margin-left: 5px;
  margin-top: 5px;
  transform: rotate(90deg);
}
