<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/entregaAqui.css">
</head>
<body>

  <div class="top">
  <h1>Entrega Aqui?</h1>
 
</div> <!--  <div class="top">-->
 <div class="separador-1"></div>
 <div class="separador-2"></div>

<div class="down">
 
  <p>Digite seu CEP</p>
  <input type="button"> </type>
  <p class="um">
    Conheca nossas unidades
  </p>
 
 
    <div class="lista">
        SP - São Paulo, Pinheiros nº 1200 <br>
        RJ - Rio de Janeiro, Copacabana nº 05 <br>
        BA - Salvador, Pitubas nº 08 <br>
    </div> <!--<div class="lista">-->
</div>  <!--<div class="down">-->


<div class=""linha-down></div>



</body>
</html>