<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/Footer.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Poppins:wght@400;500;600&family=Roboto+Slab&display=swap');
      </style>
    <title>Hortpro</title>
</head>

<body>
    <header>
        <nav>
          <a href="/home" target="_blank"><img src="./img/logo.png" alt="Logo" /></a>
          <div class="put">
            <input type="text" class="nav-put" name="as_word" placeholder="Buscar produtos" maxlength="120" autofocus=""
              autocapitalize="off" autocorrect="on" spellcheck="false" autocomplete="off" tabindex="2" value=""
              aria-activedescendant="" aria-controls="cb1-list" aria-autocomplete="on" id="search" aria-expanded="false"
              role="combobox" />
            <button type="submit" target="search"></button>
          </div>
          <div class="menu">
            <a href="./product-list.html" target="_blank">Promoções</a>
            <a href="/login" target="_self"><img id="user" src="./img/user-solid.svg" alt="user" /></a>
          </div>
          </div>
          <div class="carrinho">
            <a href="#" target="_blank"><img src="./img/carrinho.png" alt="Carrinho" /></a>
          </div>
        </nav>
      </header>
    <section class="carrossel">
        <a href="./product-list.html" target="_blank"><img src="./img/Carrossel.gif" alt="Promoções da semana"></a>
    </section>
    <br />
    <hr />
    <br />
    <section class="chamadoprodutor">
        <article>
            <a href="#" target="_blank"><img src="./img/agro.png" alt="produtor"></a>
        </article>
    </section>
    <br />
    <hr />
    <br />
    <section class="informativos">
        <article>
            <a href="#" target="_blank" class="info-img"><img src="./img/imagens-de-frutas-2.jpg"
                    alt="As melhores frutas para pequenique" id="frutas"></a>
            <a href="#" target="_blank"><img src="./img/frutas-uwd.jpg" alt="As melhores frutas para pequenique"
                    id="frutas-uwd"></a>
            <br />
            <div class="info-text">
                <h2>Quais as melhores frutas para fazer um piquenique? </h2>
                <br />
                <p>Frutas, como banana, maçã, pera, caqui, goiaba, mexerica, pêssego, morango e uva, podem ser levadas
                    inteiras e já lavadas. Escolha frutas pequenas e que possam ser consumidas individualmente.

                    Se preferir cortar em pedaços menores, faça isso pouco tempo antes para que algumas frutas não
                    escureçam
                    e percam a consistência. Outra maneira de servir é fatiá-las e fazer uma salada de frutas,
                    espremendo o
                    suco de meia laranja para dar sabor e conservar melhor.

                    As frutas que podem ser levadas em porções menores são melancia, abacaxi, melão, kiwi, manga e
                    mamão.

                    Consumir frutas geladas podem aliviar o calor do verão, deixando sua refeição leve, saborosa e
                    refrescante. Dê preferência às frutas da estação, que estão mais saborosas e saudáveis.
                    <strong>Aproveite e compre agora conosco!</strong>
            </div>
            </p>
        </article>
    </section>
    <br />
    <hr />
    <br />
    <section class="receita">
        <article>
            <a href="#" target="_blank"><img src="./img/frozen-de-frutas-vermelhas.jpg" alt="Receita"></a>
            </br>
            </br>
            <h2>Receita de Frozen de frutas vermelhas</h2>
            <br />
            <p><strong>Ingredientes:</strong>
                </br>
                </br>
                1 pote de iogurte grego light sabor morango
                </br>
                1/3 de copo (180 ml) de framboesas congeladas
                </br>
                </br>
                <strong>Modo de fazer:</strong>
                </br>
                </br>
                Bata os ingredientes no liquidificador.
                </br>
                </br>
                Rende: 1 copo.
                </br>
                Calorias: 102.
                </br>
            </p>
        </article>
    </section>
    <footer>
        <div class="logoFooter">
          <img src="./img/logo.png" alt="Logo HortiPró" />
          <p>Copyright © 2022 DH LTDA.</p>
        </div>
        <section class="footerLinks">
          <class class="socialNetworks">
            <a href="
            " target="_blank"><img src="./img/instagram.png" alt="instagram" /></a>
            <a href="#" target="_blank"><img src="./img/Facebook.png" alt="Facebook" /></a>
            <a href="#" target="_blank"><img src="./img/twitter.png" alt="twitter" /></a>
          </class>
          <ul>
            <li><a href="./politicas-de-privacidade.html">Políticas de Privacidade</a></li>
            <li><a href="./about-us.html">Sobre nós</a></li>
          </ul>
        </section>
        <form action="" method="post" class="newslatter">
          <label for="emailNewslatter">Receba nossas promoções</label>
          <div>
            <input
              type="e-mail"
              id="emailNewslatter"
              placeholder="Digite seu e-mail"
            />
            <button target="emailNewslatter" type="submit">Inscreva-se</button>
          </div>
        </form>
      </footer>

</body>
</html>