<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/login.css">
    <title>Login Hortpro</title>
</head>
<body>


    <main class="container">
        <h2>Login</h2>
        <form action="/logar" method="POST">
            <div class="input-field">
                <input type="text" name="email" id="email" placeholder="Entre com o e-mail" required>
                <div class="underline"></div>
            </div>

            <div class="input-field">
                <input type="text" name="senha" id="senha" placeholder="Entre com a senha" required>
                <div class="underline"></div>
            </div>

            <input type="Submit" value="Entrar">

            
                
            </div>
            
            

        </form>
        <br>
       
        <a href="#" class="ls-login-forgot">Esqueci minha senha</a>
    
        <!--
        <div class="footer">
            <span>Ou Conecte-se com Redes Sociais</span>


            <div class="social-fields">
                <div class="social-field facebook">
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                        Entrar com Facebook
                    </a>
            </div>

            <div class="social-fields">
                <div class="social-field google">
                    <a href="#">
                        <i class="fab fa-google"></i>
                        Entrar com Google
                    </a>
            </div>

            <div class="social-fields">
                <div class="social-field twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                        Entrar com Twitter
                    </a>
            </div>

        </div>
        -->
    </main>
    
</body>
</html>