<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
      <div class="logoFooter">
        <img src="../../../../img/logo.png" alt="Logo HortiPró" />
        <p>Copyright © 2022 DH LTDA.</p>
      </div>
      <section class="footerLinks">
        <class class="socialNetworks">
          <img src="../../../../img/instagram.png" alt="instagram" />
          <img src="../../../../img/Facebook.png" alt="Facebook" />
          <img src="../../../../img/twitter.png" alt="twitter" />
        </class>
        <ul>
          <li><a href="">Políticas de Privacidade</a></li>
          <li><a href="">Sobre nós</a></li>
        </ul>
      </section>
      <form action="" method="post" class="newslatter">
        <label for="emailNewslatter">Receba nossas promoções</label>
        <div>
          <input
            type="e-mail"
            id="emailNewslatter"
            placeholder="Digite seu e-mail"
          />
          <button target="emailNewslatter" type="submit">Inscreva-se</button>
        </div>
      </form>
    </footer>
  </body>
</html>
