*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body {
  background: linear-gradient(45deg, #285D56, #C8D25C);
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 5%;
  margin-left: 4vw;
  margin-right: 4vw;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 5rem 0 5rem;
	clear: left;
  color: azure;
}

p {
  font-size: 100%;
  text-align: justify;
  background-color: azure;
  padding: 5% 10%;
  border-radius: 5%;
  opacity: 70%;
  margin-bottom: 5%;
}

img {
  width: 100%;
  margin-bottom: 5%;
}

@media (min-width: 768px){
  img {
    display: flex;
  }

@media (min-width: 992px){
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  img {
    width: 50%;
  } 

  p {
    display:inline-flex;
    border-radius: 0%;
  }

  .conteudo-sobrenos {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .conteudo-beneficios {
    display: flex;
    flex-direction: row-reverse;
  }

  .imagem-sobrenos {
    display: inline-flex;
    justify-content: center;
    margin-left: 5%;
  }

  .imagem-sobrenos2 {
    display: inline-flex;
    justify-content: center;
    padding-right: 5%;
  }

 }

}