<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="shortcut icon" href="/img/logoHortiproPNG.png">
    <title>Perfil</title>
</head>


<%- include("../partials/header") %>

  <div class="titulo">
    <h1>Perfil</h1>
  </div>

  <div class="main">
    <div id="fotoPerfil">
      <img src="/img/perfil.jpg">
    </div>

    <div id="nome">
      <h1>Usuario</h1>
    </div>

    <div id="seuEmail">
      <a>Seu email</a>
      <h4>exemplo@teste.com</h4>

    </div>

    <div id="numero">
      <a>Numero</a>
      <h4>(12) 92345-6789</h4>

    </div>


    <div id="cidade">
      <a>Cidade</a>
      <h4>São Paulo - SP</h4>

    </div>

    <div id="idade">
      <a>Idade</a>
      <h4>34 anos</h4>

    </div>

    <button type="submit">Editar</button>
  </div>

  <%- include("../partials/footer") %>
    </div>


    <script src="../js/index.js"></script>
    </body>

</html>