<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("../partials/head") %>
    <link rel="stylesheet" href="./css/politicas-privacidade.css">
    <link rel="shortcut icon" href="../img/logoHortiproPNG.png">
    <title>Política de Privacidade</title>
</head>

<body>
  <%- include("../partials/header"); %>
    <div class="container-main">
      <h1>Termos e Condições</h1>
      <h1>Políticas de Privacidade</h1>
      <div id="fundo">
        <h3>Está com dúvidas? Veja abaixo nossa seleção de artigos que podem ajudar</h3>
        <h3>Compromisso</h3>
        <a>Na Horti Pro temos o compromisso de cuidar ao máximo das informações dos nosso usuários e proteger a
          privacidade dos mesmos.
          Nossa filosofia é que com o uso da nossa plataforma, a compra de produtos orgânicos possa ser feita de forma
          fácil,
          tranquila, transparente e segura sem que você tenha que se preocupar com a confidencialidade dos seus
          dados.</a>

        <h3>Informações Pessoais</h3>
        <a>Todas as informações pessoais fornecidas à Horti Pro no processo de compra (nome, telefone, email, endereço,
          etc) são mantidas sob o mais absoluto sigilo e utilizadas apenas para realizar as entregas e para o envio de
          updates e promoções via email. Os dados são capturados automaticamente pelos nossos sistemas e armazenados em
          foma criptografada. A manipulação humana dos dados ocorrerá apenas em casos extremamente necessários
          (comunicar-se com um cliente para o processo de entrega, informar sobre produtos em estoque, etc).
          A Horti Pro se compromete em não divulgar nenhum tipo de informação pessoal de nossos clientes
          publicamente.</a>
        <h3>Informações de Navegação</h3>
        <a>Assim como a maioria dos sites, capturamos algumas informações de navegação na página. Estes dados são
          capturados por softwares como Google Analytics com a inserção de um cookie no seu navegador e são tratados de
          forma 100% confidencial, sem nenhum tipo de identificação pessoal dos usuários.
          Apesar de trabalhar com os melhores sistemas do mercado e do nosso compromisso total com a segurança dos
          nossos
          usuários, qualquer website está sujeito a invasões e a casos extremos. Infelizmente não temos controle e não
          podemos nos responsabilizar por esses casos.
        </a>
        <h3>Contato em caso de Dúvidas</h3>
        <a>Estamos à disposição no caso de qualquer dúvida ou esclarecimento necessário sobre nossa política de
          privacidade. Para nós, é super importante que nossos clientes estejam 100% tranquilos em realizar compras no
          site da Horti Pro.
          <p id="inline">
            <span class="inline-block">Telefone:</span>
            (81) 98708-6818
          </p>
          <p id="inline">
            <span class="inline-block">Email:</span>
            contato@hortipro.com.br
          </p>
      </div>
    </div>
    <% include("../partials/footer"); %>
      <script src="../js/index.js"></script>
</body>

</html>