<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/Footer.css">
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Poppins:wght@400;500;600&family=Roboto+Slab&display=swap');
  </style>

  <link rel="stylesheet" href="/css/carrinho.css">
  <title>Página interna do produto</title>
</head>

<body>
  <%- include("../partials/header"); %>
    <section class="bodyPage">
      <section class="frutas">
        <h1>Frutas</h1>
        <hr>
        <div class="frutasFilho">
          <img src="https://http2.mlstatic.com/D_NQ_NP_687568-MLB43740376981_102020-O.webp" alt="Maçã Fuji">
          <div class="item-info">
            <h2>Maçã Fuji <a href="#" alt="Favoritar">🤍</a></h2>
            <h3>R$ 2,90</h3>
            <h4>em até 6x sem juros</h4>
            <p>Peso da unidade: 250g</p>
            <p>Detalhes sobre os benefícios da fruta:</p>
            <ul>
              <li>Melhora a função cerebral. <br>
              <li>É boa para o coração.<br>
              <li>Diminui o risco de diabetes.<br>
              <li>Afasta a prisão de ventre.<br>
              <li>Previne o câncer.<br>
              <li>Combate a asma.<br>
              <li>Previne cáries.<br>
              <li>Fortalece o sistema imunológico.
            </ul>
          </div>
        </div>
        <hr>
      </section>
      <section class="frete">
        <img src="https://i.pinimg.com/236x/5d/26/a1/5d26a173f443cbd190e34481438d474b.jpg"
          alt="Quanto mais você leva, mais você economiza!">
        <p>Quanto mais você leva, mais você economiza!</p>
        <h5>Ganhe 10% de desconto levando mais de 15 produtos!</h5>
        <p><a href="#">Mais informações</a></p>
        <label for="cep-input">Calcular frete e prazo de entrega</label>
        <input type="text" placeholder="Digite seu CEP" id="cep-input">
        <button type="submit" id="frete">Calcular</button><br>
        <label for="quantidade">Estoque disponível</label>
        <select name="Quantidade" id="quantidade">
          <option value="" disabled selected></option>
          <option value="2">2 unidades</option>
          <option value="4">4 unidades</option>
          <option value="6">6 unidades</option>
          <option value="8">8 unidades</option>
          <option value="10">10 unidades</option>
          <select name="Mais de 10 unidades" id="maisde10">
          </select>
          <p>Você pode comprar até 5kg</p>
          <button type="submit" id="adicionar">Adicionar ao carrinho</button>
      </section>
    </section>
    <section class="bodyPageDown">
      <section class="detalhes-vendedor">
        <h3>Detalhes do vendedor</h3>
        <img src="https://www.supermercadonow.com/images/institutional/master-supermercados-home-logo.png"
          alt="Logo do Supermercado">
        <p>Master Supermercados<br>
          Nota: ****</p>
        <iframe id="localizacao"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d921.1481026848696!2d-43.69546527078961!3d-22.55693616056568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9949358b49c421%3A0x2c0347dd4579d56d!2sR.%20Pref.%20Jose%20Maria%20Lima%2C%2050%20-%20Pacheco%2C%20Eng.%20Paulo%20de%20Frontin%20-%20RJ%2C%2026650-000!5e0!3m2!1spt-BR!2sbr!4v1642024502584!5m2!1spt-BR!2sbr"
          width="250" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>
      <section class="outros-produtos">
        <h4>Você também pode se interessar por:</h4>
        <div class="produtos">
          <div class="produto">
            <a href="#"><img src="./imgs/Manga-Palmer-Organica-900g---Raizs.jpg" alt="manga">
            </a>
            <p>Manga Palmer<br>900g</p>
            <button>Adicionar</button>
          </div>
          <div class="produto">
            <a href="#"><img src="./imgs/Abobrinha-Italiana-Organica--600g---800g----Raizs.jpg" alt="abobrinha">
            </a>
            <p>Abobrinha Italiana<br>600g-800g</p>
            <button>Adicionar</button>
          </div>
          <div class="produto">
            <a href="#"><img src="./imgs/Banana-Prata-Organica--600g---800g----Raizs.jpg" alt="banana">
            </a>
            <p>Banana Prata<br>600g-800g</p>
            <button>Adicionar</button>
          </div>
        </div>
      </section>
    </section>
    <%- include("../partials/footer"); %>

      <script src="./scripts/carrinho.js"></script>
</body>

</html>