<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/newfooter.css">
  <link rel="stylesheet" href="./css/newheader.css">
  <link rel="stylesheet" href="./css/newsobrenos.css">
  <link rel="shortcut icon" href="./img/logoHortiproPNG.png">
  <title>Sobre Nós</title>
</head>

<body>
  <%- include("../partials/header"); %>
    <div class="container-main">
      <h1>Sobre Nós</h1>
      <div id="text1">
        <a>Nosso objetivo é incentivar a agricultura orgânica, agroecológica e a produção artesanal brasileira, com
          respeito ao meio-ambiente
          e aos animais. Cortamos os intermediários entre o campo e a cidade, remunerando de maneira justa mais de 900
          famílias produtoras.
          As frutas, legumes, verduras e temperos orgânicos que chegam até você são certificados pelo IBD, a maior
          certificadora de orgânicos
          da América Latina. Destinamos parte do nosso faturamento e as doações dos clientes ao Fundo do Pequeno
          Produtor,
          gerido coletivamente
          pelos próprios agricultores.</a>
      </div>
      <div id="text2">
        <a>A Horti Pro é feita por pessoas apaixonadas e inquietas. Cada um por aqui acredita na potência e na sabedoria
          contidas na agricultura
          familiar e na produção artesanal e, claro, adora comida boa e tudo o que isso implica. Sabe o mais legal? A
          Horti Pro tem certificação
          de empresa B, movimento que nasceu nos Estados Unidos e reconhece empresas cujo objetivo é unir o lucro à
          responsabilidade social e
          ambiental.</a>
      </div>
    </div>
    <% include("../partials/footer"); %>
      <script src="./js/index.js"></script>
</body>

</html>