<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/newfooter.css">
  <link rel="stylesheet" href="./css/newheader.css">
  <link rel="stylesheet" href="./css/termos.css">
  <link rel="shortcut icon" href="./img/logoHortiproPNG.png">
  <title>Sobre Nós</title>
</head>

<body>
  <%- include("../partials/header"); %>
    <div class="container-main">
      <h1>Termos e Condições</h1>
      <div id="fundo">
        <h3>Horti Pro Corp (doravante “Site”) é uma plataformas de comércio eletrônico mantida e disponibilizada por
          Horti
          Pro Ltda ,
          inscrita no Cadastro Nacional de Pessoas Jurídicas CNPJ/MF sob o nº 23 245 836 /0001-62, com sede à Rua Guedes
          Pereira, 36
          - Casa Amarela, Recife/PE – Brasil, CEP 52060-150 (doravante “Prestadora”), visando regular o uso e acesso ao
          websites
          : https://www.hortipro.com.br disponibiliza os Termos e Condições de Uso, doravante “Termos”, à você
          comprador,
          doravante
          também “Usuário Comprador ou coletivamente como “Usuários Compradores” ou a você usuário individual que pode
          ser
          ou comprador
          ou visitante do Site, doravante também “Você”.</h3>
        <h4>01. Acesso e Uso do Site</h4>
        <a>Você, ao acessar quaisquer páginas do Site, ou finalizar seu cadastro para realizar sua primeira compra ou
          venda na hortipro.com.br
          ou cadastrar seu e-mail individual para recebimento de nossas mensagens, estará concordando automaticamente
          com
          todas as disposições
          destes Termos. Se Você não concordar com o todo ou parte do conteúdo dos Termos, ou de quaisquer alterações
          realizadas nestes, deverá
          imediatamente abster-se de utilizar o Site. Em caso de dúvidas envie e-mail para contato@hortipro.com.br</a>
        <h4>02 - Objeto</h4>
        <a>Os serviços objeto dos presentes Termos e Condições gerais consistem em (i) ofertar produtos à venda e (ii)
          viabilizar o contato entre
          Usuários interessados em adquirir os produtos anunciados, por meio da plataforma de comércio eletrônico da
          hortipro.com.br.</a>
        <h4>03 - Capacidade para cadastrar-se</h4>
        <a>Os serviços da hortipro.com.br estão disponíveis apenas para as pessoas físicas ou jurídicas que tenham
          capacidade legal para comprar
          produtos por sites. É proibido o cadastro de Usuários que não tenham capacidade civil (com relação a pessoas
          físicas) ou não sejam
          os representantes legais ou estejam autorizados pelos representantes legais(com relação a pessoas jurídicas),
          bem como de Usuários
          que tenham sido suspensos da hortipro.com.br, temporária ou definitivamente, sem prejuízo da aplicação das
          sanções legais previstas
          no Código Civil Brasileiro, notadamente, art. 166, I; 171, I e 180.</a>
        <h4>04 - Cadastro</h4>
        <a>Apenas será confirmado o cadastramento dos Usuários que preencherem todos os campos obrigatórios solicitados
          na(s) página(s) de cadastro de
          Usuários dos Sites, com informações exatas, precisas e verdadeiras. Ao confirmar o cadastro, os Usuários
          declaram serem verdadeiras as
          informações inseridas no cadastro e assumem o compromisso de atualizar os dados inseridos em seu cadastro
          (“Dados individuais”) sempre que
          houver qualquer alteração das informações de cadastro registrados no Site. Ao se cadastrarem na
          hortipro.com.br,
          os Usuários poderão utilizar
          todos os serviços disponibilizados pelo Site, declarando, para tanto, terem lido, compreendido e aceitado os
          respectivos Termos e Condições
          de uso dos Sites. A hortipro.com.br não se responsabiliza pela incorreção dos Dados de produtos e Individuais
          inseridos no cadastro pelos
          Usuários. Os Usuários garantem e respondem, em qualquer caso, civil e criminalmente pela veracidade, exatidão
          e
          autenticidade dos dados
          inseridos nos cadastros do Site. Os Usuários comprometem-se a notificar o Site imediatamente, e por meio
          seguro,
          a respeito de qualquer
          uso não autorizado de sua conta. O Usuário será o único responsável pelas operações efetuadas em sua conta
          direta.
        </a>
        <h4>05 - Modificações dos Termos e condições gerais</h4>
        <a>O conteúdo destes Termos poderão ser modificados a qualquer tempo e a nova versão deste documento entrará em
          vigor quando da sua publicação no Site.
          Você somente será comunicado sobre a alteração dos Termos se houver obrigação legal neste sentido. Por isso,
          recomendamos que Você verifique periodicamente
          seu conteúdo para manter-se atualizado sobre os Termos. Caso não concorde com os novos Termos, num prazo
          máximo
          de 5 (cinco) dias contados à partir da
          publicação no Site da nova versão dos Termos, Você deverá comunicar-se pelo e-mail contato@hortipro.com.br
          manifestando formalmente as suas discordâncias
          e interrompendo imediatamente o uso do Site. Nesse caso, o vínculo contratual deixará de existir, desde que
          Você
          não tenha contas ou dívidas em aberto
          com o Site. Não havendo manifestação no prazo estipulado, entender-se-á que Você aceitou os novos Termos e
          condições gerais de uso e o contrato continuará
          vinculando as partes, com base nos novos Termos.</a>
        <h4>06 - Produtos anunciados</h4>
        <a>06.1 - Processamento de pagamento: O usuário declara e reconhece que o processamento de pagamentos depende do
          cumprimento de alguns procedimentos,
          como análise de risco e compensação bancária, a depender do meio utilizado. Em regra, os pagamentos por cartão
          de crédito são processados de forma
          mais rápida do que pagamentos realizados por boleto bancário.

          06.2 - Inclusão de imagens, fotografias e vídeos: O Site pode incluir imagens, fotografias e vídeos do produto
          oferecido sempre que estas correspondam
          exatamente ao produto anunciado. O Site declara ser possuidor do direito autoral das imagens, vídeos,
          fotografias, textos, informações e tudo mais inserido
          nas suas lojas, Produtos e Serviços, ou deter autorização expressa do detentor do direito autoral que garanta
          à
          utilização no Site, devendo se responsabilizar
          exclusivamente por eventual infração dos direitos de terceiros. A Horti Pro poderá, a qualquer momento,
          divulgar
          e/ou adaptar as imagens incluídas em seus
          anúncios para fins de classificação dos produtos no Site ou seus anúncios realizados fora do Site nas redes
          sociais e/ ou qualquer outro meio de comunicação.</a>
        <h4>07 - Privacidade da Informação </h4>
        <a>
          Toda informação ou Dado Individual do Usuário é armazenado em servidores ou meios magnéticos de alta
          segurança.
          Salvo com relação às informações que são publicadas
          no Site, a hortipro.com.br adotará todas as medidas possíveis para manter a confidencialidade e a segurança
          das
          informações sigilosas, porém não se responsabilizará
          por eventuais prejuízos que sejam decorrentes da divulgação de tais informações por parte de terceiros que
          utilizem as redes públicas ou a internet, subvertendo os
          sistemas de segurança para acessar as informações dos Usuários. Os Usuários expressamente autorizam que suas
          informações e Dados Individuais sejam compartilhados
          pelo Site com as demais empresas parceiras comerciais, membros do Programa de Proteção à Propriedade
          Intelectual, autoridades e pessoas físicas ou jurídicas que
          aleguem ter sido lesadas por Usuários.
        </a>
        <h4>08 - Obrigações dos Usuários</h4>
        <a>
          Obrigações dos Usuários Compradores: O Usuário Comprador, após efetuar a compra receberá e-mail da
          hortipro.com.br que informará as etapas de processamento do pedido
          incluindo a sua entrega. O Usuário Comprador poderá desistir da compra até 7 dias da data do pedido, bastando
          para isso enviar email para contato@hortipro.com.br com
          justificava, número do pedido, endereço, data. Após o recebimento dos produtos a hortipro.com.br vai apurar o
          valor a ser reembolsado que exclui serviços prestados,
          como transporte, e produtos eventualmente consumidos ou avariados. A hortipro.com.br se reserva o direito de
          estabelecer outras regras e procedimentos adicionais para
          Usuários para que esses possam comprar através do Site. Estas condições poderão incluir serviços oferecidos
          por
          terceiros, incluindo, eventualmente, o pagamento de
          tarifas por utilização de serviços.
        </a>
        <h4>09 - Violação no sistema ou da base de dados</h4>
        <a>Não é permitida a utilização de nenhum dispositivo, software ou outro recurso que venha a utilizar,
          reproduzir
          ou interferir nas atividades e operações do Site, bem
          como nos anúncios, descrições de produtos, contas ou seus bancos de dados. Qualquer intromissão, ou tentativa
          de
          intromissão ou atividade que viole ou contrarie as
          leis de direito de propriedade intelectual e/ou as proibições estipuladas nestes Termos e condições gerais de
          uso, tornarão o responsável passível das ações legais
          pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais
          danos
          causados.</a>
        <h4>10 - Falhas no sistema</h4>
        <a>O Site não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelos Usuários em razão de falhas
          na
          internet, no sistema ou no servidor utilizado pelos Usuários, decorrentes de condutas de terceiros, caso
          fortuito ou força maior. O Site também não é responsável por qualquer vírus que possa atacar o equipamento dos
          Usuários em decorrência do acesso, utilização ou navegação na internet ou como consequência da transferência
          de
          dados, arquivos, imagens, textos, vídeos ou áudio.</a>
        <h4>11 - Tarifas e faturamento</h4>
        <a>O cadastro de Usuários nos sites é gratuito. O usuário concorda em pagar a Horti Pro os valores
          correspondentes
          a qualquer serviço prestado pela Horti Pro em que haja uma tarifa estabelecida e previamente informada. O
          Sites
          se reserva o direito de modificar, aumentar ou excluir tarifas vigentes a qualquer momento, observado o
          estipulado na cláusula 4 ou durante promoções e outras formas transitórias de alteração dos preços
          praticados.</a>
        <h4>12 - Propriedade Intelectual e links
        </h4>
        <a>O uso comercial da expressão "Hortipro.com.br” e “Horti Pro Orgânicos" como marca, nome empresarial ou nome
          de
          domínio, bem como os conteúdos das telas relativas aos serviços da hortipro.com.br assim como os programas,
          aparência do Site, bancos de dados, redes, arquivos que permitem aos Usuários acessarem e usarem a sua Conta
          são
          propriedade da Prestadora e estão protegidos pelas leis e tratados internacionais de direito autoral, marcas,
          patentes, modelos e desenhos industriais. O uso indevido e a reprodução total ou parcial dos referidos
          conteúdos
          são proibidos, salvo a autorização prévia e expressa por escrito do Site. O Site pode manter links com outros
          sites, o que não significa que esses sites sejam de propriedade ou operados pela Prestadora. Não possuindo
          controle sobre esses sites de terceiros, razão pela qual a hortipro.com.br não será responsáveis pelos seus
          conteúdos, práticas e serviços ofertados. A presença de links para outros sites não implica relação de
          sociedade, de supervisão, de cumplicidade ou solidariedade da Prestadora para com esses sites e seus
          conteúdos.</a>
        <h4>13 - Política de entrega
        </h4>
        <a>O prazo para entrega dos produtos é informado durante o procedimento de compra, contabilizado em dias úteis.
          A
          Raízs, usualmente, entregará os produtos entre às 7h e 13h, entretanto, poderá, dependendo da região com a
          qual
          teve origem o pedido, flexibilizar seus prazos de entrega, os entregando fora do horário estabelecido. A
          Hortipro responsabiliza-se a realizar a entrega no local informado pelo usuário. Caso não seja possível
          entregar
          o pedido na primeira tentativa, a Raízs entrará em contato com o usuário atrevés do email e telefone para
          agendar a data da próxima entrega. É indispensável que, no endereço solicitado, haja uma pessoa autorizada
          pelo
          usuário, maior de 18 anos, e portando documento de identificação para receber a mercadoria e assinar o
          protocolo
          de entrega. Após a finalização do pedido não é possível alterar a forma de pagamento. O valor do frete de
          entrega é calculado com base no local de entrega. No caso de compra de bebidas alcoólicas a não apresentação
          de
          documento oficial de identidade com foto, com o fim de comprovar a maioridade, implicará na não entrega do
          produto.</a>
      </div>
    </div>
    <%- include("../partials/footer"); %>
      <script src="./js/index.js"></script>
</body>

</html>